version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: coffee_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: coffee_db
    volumes:
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: coffee_server
    restart: always
    depends_on:
      - db
    ports:
      - "8000:8000"
